.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Main;
    font-weight: 800;
    color: var(--color-second);
    font-size: var(--size-sm);
    // border-radius: var(--size-sm);
    padding: var(--size-xxs) var(--size-xl);
    border: 4px solid var(--color-bright);
    background-color: var(--color-bright);
    text-align: center;
    max-width: max-content;
    width: 100%;
    transition: all 0.3s ease-in-out;
    // border: none;
    outline: none;
    cursor: pointer;

    &__text {
        font-weight: 700;
        // background: linear-gradient(90deg, #0d54c7 0%, #063975 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-fill-color: transparent;
        color: var(--color-second);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0);

        & .button__text {
            color: var(--color-bright);
        }
    }

    &--color {
        background-color: var(--color-main);

        border-color: var(--color-main);

        & .button__text {
            color: var(--color-bright);
        }

        &:hover {
            // background-color: var(--color-darkgrey);

            & .button__text {
                color: var(--color-main);
            }
        }
    }
}
