:root {
    // colors
    --color-main: #F58821;
    --color-second: #010729;
    --color-grey: #DDDDDD;
    --color-darkgrey: #393939;
    --color-bright: #fff;
    --color-dark: #000000;
    --color-red: #b41313;

    --gradient-main: linear-gradient(180deg, #6DAFDB 0%, #F37623 100%);

    // sizes
    --size-base: calc(min(100vh, 100vw) * 0.02 + max(100vh, 100vw) * 0.008);

    --size-xxxxs: calc(var(--size-base) * 0.2);
    --size-xxxs: calc(var(--size-base) * 0.4);
    --size-xxs: calc(var(--size-base) * 0.6);
    --size-xs: calc(var(--size-base) * 0.8);
    --size-sm: calc(var(--size-base) * 1);
    --size-md: calc(var(--size-base) * 1.2);
    --size-lg: calc(var(--size-base) * 2);
    --size-xl: calc(var(--size-base) * 2.5);
    --size-xxl: calc(var(--size-base) * 5);
    --size-xxxl: calc(var(--size-base) * 10);
}

